.product{
  display: flex;
  margin:.7rem .2rem;
  border-radius: 5px;
}

.product-image{
  flex:1;
  height:100px;
}

.product-image img{
  width:100%;
  height:100%;
  padding: 10px;
}
.product-description{
  flex:3;
  height:100px;
}
.product-details{
  display:flex;
}

.product-code-rating{
  flex:2;
}

.product-price{
  flex:1;
  color: red;
    font-size: larger;
    font-weight: 500;
}

.productname{
   color: blue;
    font-weight: 600;
    font-size: 25px;
    flex:3;
}

.delete{
  flex: 1;
  right: 25px;
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  color: gray;
}

.edit{
  flex: 1;
  right: 45px;
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  color: gray;
}

.details{
  font-size: smaller;
}
