<div class="product box-shadow" >
  <div class="product-image">
    <img src="https://5.imimg.com/data5/BN/OL/GLADMIN-39053171/good-day-biscuit-250x250.png">
  </div>
  <div class="product-description">
      <div class="product-name">
        <span class="f-20">goodday bisucuts</span>
      </div>
      <div class="product-details">
        <div class="product-code-rating">
          <span>#123567</span><br>
          <span class="f-10">Category</span>
        </div>
        <div class="product-price">
          <span>Rs:120</span>
        </div>
    </div>
  </div>
</div>

