<div class="card width-18 border-none box-shadow mx-auto card-custom-css ">
  <div class="card-body">
    <div class="body">
      <div *ngIf="controller.activeComponent==1">
        home
      </div>
      <div *ngIf="controller.activeComponent==2">
        products
      </div>
      <div *ngIf="controller.activeComponent==3">
        notifications
      </div>
      <div *ngIf="controller.activeComponent==4">
        profile
      </div>

    </div>
    <div class="navbar">
      <a [ngClass]="{'active': controller.activeComponent==1}" (click)=" controller.activeComponent=1"><i class="fa fa-home"></i> </a>
      <a [ngClass]="{'active': controller.activeComponent==2}" (click)=" controller.activeComponent=2"><i class="fa fa-archive"></i> </a>
      <a [ngClass]="{'active': controller.activeComponent==3}" (click)=" controller.activeComponent=3"><i class="fa fa-bell"></i> </a>
      <a [ngClass]="{'active': controller.activeComponent==4}" (click)=" controller.activeComponent=4"><i class="fa fa-user"></i> </a>
    </div>
  </div>
</div>
