<div class="product box-shadow" >
  <div class="product-image">
    <img [src]="product.imageurl">
  </div>
  <div class="product-description">
      <div class="product-name productname">
        <span class="f-20 productnameformat">{{product.productName}}</span>
        <i class="fa fa-pencil edit " (click)="controller.openUpdateProductPanel(product)" aria-hidden="true"></i>
        <i class="fa fa-trash delete" (click)="controller.deleteproduct(product.productUUID)"aria-hidden="true" ></i>
      </div>
      <div class="product-details">
        <div class="product-code-rating details">
          <span>#{{product.productId}}</span><br>
          <span class="f-10">{{product.categoryId}}</span>
        </div>
        <div class="product-price">
          <span>Rs:{{product.price}}</span>
        </div>
    </div>
  </div>
</div>

