<form class="panel p-2 m-2">
  <div class="row m-1">
    <div class="col">
     <span class="text-white">Product Id</span>
      <input [(ngModel)]="productId" readonly="true" name="productId" type="text" class="form-control" autocomplete="off" placeholder="Product Id">
    </div>
    </div>
<div class="row m-1">
  <div class="col">
   <span class="text-white">Product Name</span>
    <input [(ngModel)]="productName" name="productName" type="text" class="form-control" autocomplete="off" placeholder="Product Name">
  </div>
  </div>
  <div class="row m-1">
    <div class="col">
     <span class="text-white">Description</span><br>
      <textarea [(ngModel)]="productDescription" name="productDescription" placeholder="product description"  autocomplete="off" cols="35" rows="3"></textarea>
    </div>
    </div>
  <div class="row m-1">
    <div class="col">
      <span class="text-white">Category Id</span>
      <input [(ngModel)]="categoryId" name="categoryId" type="text" class="form-control" placeholder="Category" autocomplete="off" >
    </div>
    <div class="col ">
      <span class="text-white">Price</span>
      <input [(ngModel)]="price" name="price" type="text" class="form-control" placeholder="price" autocomplete="off" >
    </div>
  </div>
<div class="form-group m-3" *ngIf = "showupload">
  <label for="exampleFormControlFile1" class="text-white">Add product Image</label>
  <input [(ngModel)]="imageurl" id="productimage" name="imageurl" type="file" class="form-control-file"  (change)="onFileSelected($event)" autocomplete="off" id="exampleFormControlFile1">
</div>
<div class="form-group m-3" *ngIf = "!showupload">
  <button for="exampleFormControlFile1" type="button" class="text-white btn btn-primary mb-3" (click)="showupload = true">Update Image</button>
 <div >
  <img [src]="productImageUrl" class="img-thumbnail" >
</div>
</div>
<div class="mx-2">
<button type="button" (click)="controller.closeUpdateProductPanel()" class="btn btn-secondary btn-lg m-2 ">Close</button>
<button type="button" (click) = "updateProduct()" class="btn btn-primary btn-lg m-2">Update</button>
</div>
</form>


