<div class="card width-18 border-none box-shadow mx-auto card-custom-css">
  <div class="card-body">
    <h4 class="card-title">give us your<br>mobile number</h4>
    <input [(ngModel)]="phoneNumber" class="border-none outline-none text-bold" maxlength="10" autocomplete="off" type="tel" id="phone" placeholder="9999999999">
    <div id="recaptcha-container"></div>

  </div>
  <div class="card bg-secondary text-white border-none brt-20">
      <div class="card-body">
          <input type="checkbox" id="check" >
        <p class="card-text">by tapping Continue you agree<br>to our terms and conditions </p>
        <a class="btn btn-primary" (click)="continue()">Continue</a>
      </div>
    </div>
</div>
