/* Small devices (tablets, 768px and up) */
@media (max-width: 1024px) {
  .card{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
  }
 }
