  <form class="panel p-2 m-2">
  <div class="row m-1">
    <div class="col">
     <span class="text-white">Product Name</span>
      <input type="text" class="form-control" placeholder="Product Name">
    </div>
    </div>
    <div class="row m-1">
      <div class="col">
        <span class="text-white">Category</span>
        <input type="text" class="form-control" placeholder="Category">
      </div>
      <div class="col ">
        <span class="text-white">Price</span>
        <input type="text" class="form-control" placeholder="price">
      </div>
    </div>
  <div class="form-group m-3">
    <label for="exampleFormControlFile1" class="text-white">Add product Image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="mx-2">
  <button type="button" (click)="controller.closeProductPanel()" class="btn btn-secondary btn-lg m-1 px-5">Close</button>
  <button type="button" class="btn btn-primary btn-lg m-1 px-5">Add</button>
</div>
</form>

